/* SPDX-License-Identifier: GPL-3.0-only */
/* Copyright 2020, 2021, 2025  kurgm and graphemecluster */

.controlpointRect {
  fill: #f57900;
  stroke: #f57900;
  stroke-width: 1px;
}

.controlpointRect.online {
  fill: #73d216;
  stroke: #73d216;
}

.controlpointRect.match {
  fill: #729fcf;
  stroke: #729fcf;
}

.controlpointRect.move {
  cursor: move;
}
.controlpointRect.nsResize {
  cursor: ns-resize;
}
.controlpointRect.ewResize {
  cursor: ew-resize;
}
.controlpointRect.nwseResize {
  cursor: nwse-resize;
}
.controlpointRect.neswResize {
  cursor: nesw-resize;
}
