/* SPDX-License-Identifier: GPL-3.0-only */
/* Copyright 2020, 2021, 2025  kurgm and graphemecluster */

.controlpoint-rect {
  fill: #f57900;
  stroke: #f57900;
  stroke-width: 1px;
}

.controlpoint-rect.online {
  fill: #73d216;
  stroke: #73d216;
}

.controlpoint-rect.match {
  fill: #729fcf;
  stroke: #729fcf;
}

.controlpoint-rect.move {
  cursor: move;
}
.controlpoint-rect.ns-resize {
  cursor: ns-resize;
}
.controlpoint-rect.ew-resize {
  cursor: ew-resize;
}
.controlpoint-rect.nwse-resize {
  cursor: nwse-resize;
}
.controlpoint-rect.nesw-resize {
  cursor: nesw-resize;
}
