.editor-controls {
  display: flex;
  padding: 10px;
}

.select-control {
  flex: 1;
  display: flex;
  flex-flow: column;
}

.selected-info {
  flex: 1;
}

.selection-control {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-prevnext-button {
  height: 2.5em;
}

.selection-num {
  margin: 0 1em;
  width: 5em;
  text-align: center;
  align-self: center;
}

.control-buttons {
  margin: 0 1em;
  display: grid;
  grid-template-columns: repeat(2, 7em);
  gap: 3px;
}

.preview {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  width: 7em;
}

.preview-thumbnail {
  align-self: center;
  border: 1px solid #cccccc;
}

.preview button {
  font-weight: bold;
}
