.editor-controls {
  display: flex;
  padding: 10px;
}

.select-control {
  flex: 1;
}

.control-buttons {
  margin: 0 1em;
  display: grid;
  grid-template-columns: repeat(2, 7.5em);
  gap: 3px;
}

.preview {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  width: 7em;
}

.preview-thumbnail {
  align-self: center;
  border: 1px solid #aaaaaa;
}

.preview button {
  font-weight: bold;
}
