.glyph-boundary {
  fill: none;
  stroke: #333333;
  stroke-width: 2;
}

.glyph-guide {
  fill: none;
  stroke: #999999;
  stroke-width: 1;
}

.glyph-area svg.freehand * {
  pointer-events: none;
}

.glyph-area svg {
  stroke-linecap: round;
  stroke-linejoin: round;
}
