.strokes-deselected polygon {
  fill: #000000;
  stroke: none;
  cursor: move;
}

.xormask-fill {
  fill: #000000;
  pointer-events: none;
}

.glyph-area .xormask-fill {
  fill-opacity: 0.7;
}

.strokes-invert polygon {
  fill: #ffffff;
  stroke: none;
  pointer-events: none;
}

.strokes-selected polygon {
  fill: #cc0000;
  stroke: none;
  cursor: move;
}
