/* SPDX-License-Identifier: GPL-3.0-only */
/* Copyright 2020, 2021, 2023, 2025  kurgm and graphemecluster */

.strokes-deselected polygon {
  fill: #000000;
  stroke: none;
}

.xormask-fill {
  fill: #000000;
  pointer-events: none;
}

.xormask-fill.translucent {
  fill-opacity: 0.7;
}

.strokes-invert polygon {
  fill: #ffffff;
  stroke: none;
  pointer-events: none;
}

.strokes-selected polygon {
  fill: #cc0000;
  stroke: none;
}

.movable-stroke {
  cursor: move;
}
