/* SPDX-License-Identifier: GPL-3.0-only */
/* Copyright 2020, 2025  kurgm */

.glyphBoundary {
  fill: none;
  stroke: #333333;
  stroke-width: 2;
}

.glyphGuide {
  fill: none;
  stroke: #999999;
  stroke-width: 1;
}

.glyphArea svg.freehand * {
  pointer-events: none;
}

.glyphArea svg {
  stroke-linecap: round;
  stroke-linejoin: round;
}
