.parts-list {
  display: grid;
  grid-template-columns: repeat(4, 60px);
}

.parts-list img {
  border: 1px solid #aaaaaa;
  margin: 4px;
  cursor: pointer;
}

.parts-list img:hover {
  border: 5px solid #cc0000;
  margin: 0;
}
