.parts-search-area {
  display: flex;
  flex-flow: column;
}

.parts-search-box {
  display: flex;
  padding: 10px;
}

.parts-search-box input {
  flex: 1;
}

.parts-list-area {
  border: 1px solid #666;
  flex: 1 1;
  text-align: center;
  overflow-y: scroll;
}

.parts-list-area div.message {
  margin: 3em 0;
  width: 240px;
}

.parts-hover-name {
  height: 1.3em;
  line-height: 1.3;
  white-space: nowrap;
  text-overflow: ellipsis;
}
