.select-control {
  display: flex;
  flex-flow: column;
}

.selected-info {
  flex: 1;
}

.alert {
  color: red;
}

.selection-control {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-prevnext-button {
  height: 2.5em;
}

.selection-num {
  margin: 0 1em;
  width: 5em;
  text-align: center;
  align-self: center;
}
