/* SPDX-License-Identifier: GPL-3.0-only */
/* Copyright 2020, 2021  kurgm and graphemecluster */

.stroke-center-line {
  fill: none;
  stroke: #e3e3e3;
  stroke-width: 1px;
  pointer-events: none;
}
