.App {
  display: flex;
  height: 100vh;
}

.main-edit-area {
  display: flex;
  flex-flow: column;
  flex: 1;
}

.parts-list-area {
  display: flex;
  flex-flow: column;
}

.glyph-area {
  flex: 1;
  border: 1px solid #ccc;
}

.editor-controls {
  margin: 10px;
  display: flex;
}
