.App {
  display: grid;
  grid-template-columns: minmax(500px, 1fr) auto;
  grid-template-rows: minmax(240px, 1fr) auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.parts-search-area {
  grid-column: 2/3;
  grid-row: 1/3;
}

.glyph-area {
  grid-column: 1/2;
  grid-row: 1/2;
  border: 1px solid #ccc;
}

.editor-controls {
  grid-column: 1/2;
  grid-row: 2/3;
}
